<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.egdfrm.unit.mapper.expand.pda.GetProductInfoMapper" >
 

  <!-- 据包装条码Id获取包装箱信息，包括： //产品编码： //料号描述： //产品型号： //工 单： //数 量：//货 位： -->
  <select id="getPackInfoByBarCode"  resultType="map">
	
      
      select ms.segment1 "materialCode",
       ms.description "description",
       apps.mes_barcodes_pd_pkg.get_prod_type(mh.inventory_item_id) "model",
       we.wip_entity_name "workOrder",
       mh.locattion_code "locattionCode",
       apps.mes_wip_barcodes_pack_pkg.get_pack_quantity(mh.packing_barcode_id) "quantity"
  from apps.mtl_system_items_b ms,
       wip.wip_entities        we,
       mes_packing_headers     mh
 where 1 = 1
   and mh.wip_entity_id = we.wip_entity_id(+)
   and mh.inventory_item_id = ms.inventory_item_id
   and mh.organization_id = ms.organization_id
   and mh.barcode_text =#{barCode,jdbcType=VARCHAR}
   and mh.organization_id =#{organizationId,jdbcType=NUMERIC}
   </select>
</mapper>