<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.egdfrm.unit.mapper.expand.pda.SaleReturnsMapper" >

    <!-- PDA销售退货-扫描包装/产品条码 -->
    <select id="getSaleReturnStyle" parameterType="java.math.BigDecimal" resultType="com.egdfrm.unit.model.expand.pda.SaleReturn">
        <![CDATA[

			 select b.segment1 lotno,
	       apps.mes_barcodes_pd_pkg.get_prod_type(mb.primary_item_id) styleno,
	       1 num
	  from mes.mes_wip_barcodes    mb,
	       apps.mtl_system_items_b b
	 where b.inventory_item_id = mb.primary_item_id
	   and b.organization_id = mb.organization_id
	   and mb.wip_barcode_id = #{packBarcodeId,jdbcType=NUMERIC}
	union all
	select b.segment1 lotno,
	       apps.mes_barcodes_pd_pkg.get_prod_type(ml.item_id) styleno,
	       ml.num
	  from (select apps.mes_barcodes_ship_pkg.get_item_id(l.line_barcode_id) item_id,
	               nvl(sum(nvl(l.quantity, 0)), 0) num
	          from mes.mes_packing_lines_ship l
	         where l.packing_type <> 'PACK'
	         start with l.packing_barcode_id = #{packBarcodeId,jdbcType=NUMERIC}
	        connect by l.packing_barcode_id = prior l.line_barcode_id
	         group by apps.mes_barcodes_ship_pkg.get_item_id(l.line_barcode_id)) ml,
	       apps.mtl_system_items_b b
	 where b.inventory_item_id = ml.item_id
	   and b.organization_id = 101

	 ]]>
    </select>

    <parameterMap type="Map" id="saleReturnsMap">
        <parameter property="rmaNo"  />
        <parameter property="userId"  />
        <parameter property="processId"  />
        <parameter property="location"  />
        <parameter property="packingBarcodeId"  />
        <parameter property="dbreturn.xStatus" />
        <parameter property="dbreturn.xMessage" />
 </parameterMap>

    <!--验证rma订单-->
    <select id="callUpdateOrder" parameterMap="saleReturnsMap" statementType="CALLABLE">
        {call apps.mes_barcodes_pub_pkg.update_order(
        #{rmaNo,mode=IN,jdbcType=VARCHAR},
        #{dbreturn.xStatus,mode=OUT,jdbcType=VARCHAR},#{dbreturn.xMessage,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>
    <!-- 提交前1 验证rma订单-->
    <select id="callReturnCheckRma" parameterMap="saleReturnsMap" statementType="CALLABLE">
        {call apps.mes_barcodes_pub_pkg.return_check_rma(
        #{rmaNo,mode=IN,jdbcType=VARCHAR},
        #{dbreturn.xStatus,mode=OUT,jdbcType=VARCHAR},#{dbreturn.xMessage,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>
    <!--提交前2 验证数据 -->
    <select id="callReturnCheck" parameterMap="saleReturnsMap" statementType="CALLABLE">
        {call apps.mes_barcodes_pub_pkg.return_check(
          #{location,mode=IN,jdbcType=VARCHAR},
          #{packingBarcodeId,mode=IN,jdbcType=DECIMAL},
          #{rmaNo,mode=IN,jdbcType=VARCHAR},
          #{dbreturn.xStatus,mode=OUT,jdbcType=VARCHAR},#{dbreturn.xMessage,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>
  <!--PDA销售退货-提交-循环插入-->
  <select id="callReturnTransactionTemp" parameterMap="saleReturnsMap" statementType="CALLABLE">
	{call apps.mes_barcodes_pub_pkg.return_transaction_temp( 
	  #{userId,mode=IN,jdbcType=DECIMAL},
	  #{processId,mode=IN,jdbcType=DECIMAL}, 
	  #{location,mode=IN,jdbcType=VARCHAR}, 
	  #{packingBarcodeId,mode=IN,jdbcType=DECIMAL},
	  #{rmaNo,mode=IN,jdbcType=VARCHAR},
	  #{dbreturn.xStatus,mode=OUT,jdbcType=VARCHAR},#{dbreturn.xMessage,mode=OUT,jdbcType=VARCHAR}
	)}
  </select>
  <!--PDA销售退货-提交-更新状态 -->
  <select id="callReturnProcessMes" parameterMap="saleReturnsMap" statementType="CALLABLE">
	{call apps.mes_barcodes_pub_pkg.return_process_mes( 
	  #{processId,mode=IN,jdbcType=DECIMAL}, 
	  #{dbreturn.xStatus,mode=OUT,jdbcType=VARCHAR},#{dbreturn.xMessage,mode=OUT,jdbcType=VARCHAR}
	)}
  </select>
 
</mapper>